/* Minimalistic design in white and gray tones */

.app {
  font-family: 'Source Serif Pro', serif;
  margin: 0;
  padding: 0;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
  width: 60%;
  max-width: 100vw;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .app {
    width: 100%;
  }
}